<div *ngIf="isDisplayUI">
  <div id="k1interface-visible" *ngIf="!isDisplayScanningSection" class="show">
    <div><label class="scanning-label">Initialize Scan Process:</label></div>
    <div class="input-group">
      <div class="input-group-btn">
        <button id="scanbtn" type="button" class="btn btn-primary" aria-label="Bold" (click)="renderSelection()">
          <span>Initialize</span>
        </button>
      </div>
    </div>
  </div>
  <div id="k1interface-hidden" class="show" *ngIf="isDisplayScanningSection">
    <div [ngClass]="{'section-disabled': !isDisableFinalizeSection}">
      <div id="device-group" class="twain-feature-group">
        <label class="scanning-label">Device</label>
        <select id="sel-scanner" class="form-control" [(ngModel)]="selectedDeviceId"
          (change)="handleDeviceChange($event.target.value)">
          <option *ngFor="let device of discoveredDevices;" value="{{device.value}}">{{device.display}}</option>
        </select>
      </div>
      <br />
      <div class="input-group">
        <div class="input-group-btn">
          <button id="btn-acquire" type="button" class="btn btn-primary" aria-label="Bold"
            (click)="handleAcquireClick()" [disabled]="isDisableScanButton">
            <span>Scan</span>
          </button>
        </div>
      </div>
    </div>
    <div [ngClass]="{'section-disabled': isDisableFinalizeSection}">
      <label class="scanning-label mt-2">Output File Name</label>
      <input id="sel-output-name" class="form-control" type="text" value="{{outputFilename}}"
        placeholder="Please enter a file name" (change)="outputFilename=$event.target.value" />

      <label class="scanning-label mt-2">Output File Type</label>
      <span class="filetype-restriction" *ngIf="isDisplayFileRestriction">
        File types restricted for multiple page scans
      </span>
      <select id="sel-output" class="form-control" [(ngModel)]="selectedFileTypeOption" (change)="handleFileTypeChange($event.target.value)">
        <option *ngFor="let option of fileTypeOptions;" value="{{option.value}}">{{option.display}}</option>
      </select>
      <div *ngIf="isDisplayOCR">
        <label class="scanning-label mt-2">OCR Type</label>
        <select id="sel-ocr-type" class="form-control" [(ngModel)]="selectedOcrOption" (change)="handlOcrTypeChange($event.target.value)">
          <option *ngFor="let option of ocrOptions;" value="{{option.value}}">{{option.display}}</option>
        </select>
      </div>
      <div class="input-group mb-3 mt-3">
        <div class="input-group-btn">
          <button id="btn-attach" type="button" class="btn btn-primary" aria-label="Bold"
            (click)="handleAttachDocument()">
            <span>ATTACH DOCUMENT</span>
          </button>
          <button id="btn-save-locally" type="button" class="btn btn-primary ml-2" aria-label="Bold"
            (click)="handleSaveDocument()">
            <span>SAVE LOCALLY</span>
          </button>
          <button id="btn-cancel-finalization" type="button" class="btn btn-primary ml-2" aria-label="Bold"
            (click)="handleCancelFinalization()">
            <span>CANCEL</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>