<div id="k1interface-hidden" class="show">
  <div>
    <div id="device-group" class="twain-feature-group">
      <label>Device</label>
      <select id="sel-scanner" class="form-control" (change)="selectedScanner=$event.target.value">
        <option *ngFor="let device of allDevices;" value="{{device.value}}">{{device.display}}</option>
      </select>
    </div>

    <label>Output File Name</label>
    <input id="sel-output-name" class="form-control" type="text" placeholder="Please enter a file name" (change)="outputFilename=$event.target.value" />

    <label>Output File Type</label>
    <select id="sel-output" class="form-control" (change)="selectedFileTypeOption=$event.target.value">
      <option *ngFor="let option of fileTypeOptions;" value="{{option.value}}">{{option.display}}</option>
    </select>

    <label>OCR Type</label>
    <select id="sel-ocr-type" class="form-control" (change)="selectedOcrOption=$event.target.value">
      <option *ngFor="let option of ocrOptions;" value="{{option.value}}">{{option.display}}</option>
    </select>

    <br />

    <div class="input-group">
      <div class="input-group-btn">
        <button id="btn-acquire" type="button" class="btn btn-primary" aria-label="Bold" (click)="onClick($event)">
          <span>Scan</span>
        </button>
      </div>
      <input class="form-control filename" aria-label="Text input with multiple buttons" />
      <span class="input-group-addon filesize" *ngIf="!!acquireResponse">{{acquireResponse.sizeDisplay}}</span>
      <div class="input-group-btn fileview" *ngIf="!!acquireResponse">
        <button id="viewBtn2" type="button" class="btn btn-default k1ViewBtn">View</button>
      </div>

    </div>
  </div>

  <br />

  <app-scan-completed *ngIf="!!acquireResponse" message="{{acquireResponseString}}"></app-scan-completed>
  <app-scan-error *ngIf="!!acquireError" message="{{acquireError}}"></app-scan-error>
</div>
