<div id="k1interface-hidden" class="show" *ngIf="isDisplayUI">
  <div>
    <div id="device-group" class="twain-feature-group">
      <label class="scanning-label">Device</label>
      <select id="sel-scanner" class="form-control" (change)="selectedScanner=$event.target.value">
        <option *ngFor="let device of discoveredDevices;" value="{{device.value}}">{{device.display}}</option>
      </select>
    </div>

    <label class="scanning-label mt-2">Output File Name</label>
    <input id="sel-output-name" class="form-control" type="text" value="{{outputFilename}}" placeholder="Please enter a file name" (change)="outputFilename=$event.target.value" />

    <label class="scanning-label mt-2">Output File Type</label>
    <select id="sel-output" class="form-control" (change)="selectedFileTypeOption=$event.target.value">
      <option *ngFor="let option of fileTypeOptions;" value="{{option.value}}">{{option.display}}</option>
    </select>

    <label class="scanning-label mt-2">OCR Type</label>
    <select id="sel-ocr-type" class="form-control" (change)="selectedOcrOption=$event.target.value">
      <option *ngFor="let option of ocrOptions;" value="{{option.value}}">{{option.display}}</option>
    </select>

    <br />

    <div class="input-group">
      <div class="input-group-btn">
        <button id="btn-acquire" type="button" class="btn btn-primary" aria-label="Bold" (click)="onClick()">
          <span>Scan</span>
        </button>
      </div>
    </div>
  </div>
</div>
